/* .fixed {
  position: fixed;
  width: 100%;
} */

.modal {
  overflow: hidden;
}

.block2 {
  /* display: flex;
  flex-flow: row wrap;
  justify-content: center; */
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(444px, 1fr));
  margin: 2%;
  grid-auto-flow: dense;
  grid-auto-rows: min-content;
  position: relative;
  overflow: auto;
}

.photoItem {

  border: 2px solid black;
  border-radius: 10px;
  /* margin: 15px; */
  padding: 20px;

}

.author a {
  display: flex;
  text-decoration: none;
  color: black;
  font-weight: bold;
  align-items: center;
}

.avatar {
  margin-right: 10px;
}

.like {
  display: flex;
  font-weight: bold;
  align-items: center;
}

.imgLike {
  margin-right: 10px;
}

.imgLike button {
    padding: 0;
    border: 0;
    margin-left: 10px;
    outline: none;
    background-color: transparent;
}

.info {
  display: flex;
  justify-content: space-between;
}

.photo {
  padding: 10px 0;
}

.photo img {
  width: 100%;
}

.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.imgCalendar {
  margin-right: 10px;
}

.block3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
