.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 5;
  height: 60px;
  top: 0;
  background-color: white;
  width: 98%;
  border-bottom: solid 2px black;
  border-radius: 10px;
}

.block1 {
  margin-top: 80px;
}

.header button {
  margin-right: 20px;
  background: transparent;
  height: 30px;
  width: 120px;
  font-weight: bold;
}

.header img {
  margin-left: 20px;
  height: 45px;
}
