.block4 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.buttonClose {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
}

.buttonClose button {
    border: 0;
    margin: 0;
    background: transparent;
    outline: none;
}

.buttonClose img {
    width: 20px;
    height: 20px;
}

.block5 {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px 70px 20px;
    flex-grow: 1;
}

.infoShow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    margin: 0;
}

.avatarShow {
    margin-right: 10px;
}

.authorShow a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.buttonLike img {
    width: 32px;
    height: 32px;
}

.buttonLike button {
    padding: 0;
    border: 0;
    margin-left: 10px;
    outline: none;
}

.buttonLike {
    display: flex;
    align-items: center;
}

.photoShow {
    flex-grow: 1;
    position: relative;
}

.photoShow img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.publishedShow {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.publishedShow :first-child {
    margin-right: 10px;
    font-weight: bold;
}
